
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Verify</title>
</head>
<body>
    <div>
        <br />
        <br />
        <br />
        <br />
        <p>THANK YOY for your application! We're grateful for your interest in joining The FloBro Fitness Team! We will review your application and make our approval if we believe you are a good fit. In the meantime complete your profile and enjoy our wide array of services!</p>
        <a href="/Account/Login" class="btn btn-info">Login</a>
    </div>
</body>
</html>
